<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEN-nn1VkpKrRgC367JESnH8ssf-PFaw4</string>
	<key>GCM_SENDER_ID</key>
	<string>771057718470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authEmailPasswordFirebase</string>
	<key>PROJECT_ID</key>
	<string>auth-email-password-fire-fe9da</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-email-password-fire-fe9da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771057718470:ios:93277f805f1787109fb3c7</string>
</dict>
</plist>